@using GUImovieWEB.Models
@model ActeurUImodel
@{
    ViewData["Title"] = "ActeurDetail Page";
}


<h1>
    <img style="display: block; margin-left: auto; margin-right: auto;" width="185" height="278" src="@Model.avatar" />
</h1>
<div>


    <h1 style="padding-left:42%;">ACTEUR :</h1>
    <table class="table-bordered" style="height: 54px; width: 353px;">
        <thead>
            <tr style="height: 36px;">
                <th style="height: 36px; width: 98px;"><em>Name</em></th>
                <th style="height: 36px; width: 117px;">Date de naissance</th>
                <th style="height: 36px; width: 127px;">Lieu de naissance</th>
            </tr>
        </thead>
        <tbody>
            <tr style="height: 18px;">
                <td style="height: 18px; width: 98px;">@Model.Name</td>
                <td style="height: 18px; width: 117px;">@Model.birthday</td>
                <td style="height: 18px; width: 127px;">@Model.birthplace</td>
            </tr>
        </tbody>
    </table>
    <table class="table-bordered" style="height: 54px; width: 800px;">
        <thead>
            <tr style="height: 36px;">
                <th style="height: 36px; width: 98px;"><em>Biographie :</em></th>
            </tr>
        </thead>
        <tbody>
            <tr style="height: 18px;">
                <td style="height: 18px; width: 98px;">@Model.resume</td>

            </tr>
        </tbody>
    </table>

    <h3>LISTE DES FILMS DE L'ACTEUR :</h3>
    <table class="table-bordered">
        <thead>
            <tr>
                <th width="50">Id</th>
                <th width="150">Titre</th>
                <th width="100">Duree</th>
                <th width="200">Note Moyenne</th>
                <th width="200">Details</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Films)
            {
                string stringID = "Details/" + item.Id.ToString();
                int h = item.Runtime / 60;
                int m = item.Runtime - h * 60;
                string temp = string.Format("{0}h{1:00}", h, m);
<tr>
    <th scope="row">@item.Id</th>
    <td>@item.Title</td>
    <td>@temp</td>
    <td>@item.VoteAverage</td>
    <td>
        @Html.ActionLink("⚙", "Details", "Details", new { ID = item.Id })
    </td>
</tr>
}
        </tbody>
    </table>
</div>