@model MovieWEB.Models.ListFilmModel
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <table class="table-bordered">
        <thead>
            <tr>
                <th width="50">Id</th>
                <th width="150">Affiche</th>
                <th width="150">Titre</th>
                <th width="100">Duree</th>
                <th width="200">Note Moyenne</th>
                <th width="150">Note</th>
                <th width="200">Details</th>

            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Films)
            {

            <tr>
                <th scope="row">@item.Id</th>
                <td>
                    
                </td>
                <td>@item.Title</td>
                <td>@item.Runtime</td>
                <td>@item.VoteAverage</td>
                <td>
                    <img src="" width="100" />
                </td>

                <td>
                    @Html.ActionLink("Details", "Details", "Home", new { ID = item.Id });
                </td>
            </tr>
            }
        </tbody>
    </table>
</div>
<table align="center">
    <tr>
        <td><a class="nav-link text-dark" data="1" asp-area="" asp-controller="Home" asp-action="BouttonPrevious">Precedent</a></td>
        <td><a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="BouttonNext">Suivant</a></td>
    </tr>
</table>